* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
#container{
  /* debug */
  /* min-height: 100px;
  background-color: blue; */
  /* debug */
}
#container div, #female div, #male div, #container-new div, #container-prova div{
  margin: 10px;
}
.container-float::after {
  content: '';
  display: table;
  clear: both;
}
.float-left{
  float: left;
  width: 50%;
  border: black 1px solid;
}
#container-new{
  border-bottom: 1px solid black;
}
